@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

@import "abstracts/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: $color-primary;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  color: $color-primary;
}

body {
  background: #fafafa;
}
a {
  text-decoration: none;
}

/* buttons */
button,
.btn {
  background: $color-secondary;
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
button:hover,
.btn:hover {
  background: $color-primary;
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: $color-primary;
  background: $color-secondary;
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  border: 1px solid $color-secondary;
  background: white;
}
input,
textarea {
  border: 0;
  border-bottom: 1px solid $color-secondary;
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

/* error text */
.error {
  color: $color-warning;
  font-size: 14px;
  margin: 16px 0;
}

.navbar {
  padding: 16px 10px;
  margin-bottom: 60px;
  background: white;
}

nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    margin-left: 20px;
  }

  .links {
    margin-left: auto;
  }

  .links a,
  button {
    margin-left: 16px;
    font-size: 14px;
  }

  img {
    max-height: 60px;
  }
}

.single {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin: 16px 0;
  transition: all ease 0.2s;
}

.single:hover {
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  transform: scale(1.02);
  transition: all ease 0.2s;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.info {
  margin: 0 30px;
}

.song-number {
  margin-left: auto;
}

.playlist-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
}
.cover {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  padding: 160px;
  border: 1px solid #eee;
}
.cover img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.playlist-info {
  text-align: center;
}
.playlist-info h2 {
  text-transform: capitalize;
  font-size: 28px;
  margin-top: 20px;
}
.playlist-info p {
  margin-bottom: 20px;
  text-align: center;
}
.username {
  color: #999;
}
.description {
  text-align: left;
}

.single-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--secondary);
  padding: 10px 0;
  margin-bottom: 20px;
}
